.btn {
  background-color: var(--blue-200);
  border-radius: 0.25rem;
  color: var(--white-100);
  cursor: pointer;
  display: block;
  font-size: clamp(0.875rem, 20vw, 1rem);
  width: 100%;
  max-width: 250px;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  position: relative;
  transition: 350ms var(--pop);

  &:hover,
  &:focus-visible {
    background-color: var(--blue-100);
    transform: scale(0.98);
  }
}
