.hero {
  background-color: var(--white-200);
  position: relative;

  .hero__slide {
    display: block;
    position: relative;

    .hero__slide__bg {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;

      @media (max-width: 800px) {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 60%,
            rgba(255, 255, 255, 0) 90%
          );
        }
      }

      .bg__img {
        display: none;
        height: 100%;
        width: 100%;
        object-fit: cover;

        &:not(.bg--mobile) {
          @media (min-width: 800px) {
            display: block;
          }
        }

        &.bg--mobile {
          @media (max-width: 800px) {
            display: block;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    min-height: 600px;
    z-index: 4;

    @media (min-width: 850px) {
      min-height: 750px;
    }

    .hero__content {
      max-width: 500px;

      .title {
        color: var(--blue-200);
        font-size: clamp(1.5rem, 2.2vw, 3rem);
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: var(--p-2);
      }

      p {
        // color: var(--white-200);
        font-size: clamp(0.875rem, 20vw, 1.125rem);
        line-height: 1.45;
        margin-bottom: var(--p-2);
      }
    }
  }
}
